<?xml version='1.0' encoding='utf-8'?>
<widget id="com.calmid.kidsloop_live" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>KidsLoop Live</name>
    <description>
        An interactive live platform for teachers and students.
    </description>
    <author email="info@calmid.com" href="https://www.kidsloop.net">
        Calm Island KidsLoop 
    </author>
    <content src="dist/index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
            <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.hardware.camera" />
            <uses-permission android:name="android.hardware.camera.autofocus" />
        </config-file>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
