name: (Job) Deploy to AWS

on:
    workflow_call:
        inputs:
            region:
                required: true
                type: string
            environment:
                required: true
                type: string
            aws-region:
                required: true
                type: string
            aws-s3-bucket:
                required: true
                type: string
            aws-cloudfront-distribution-id:
                required: true
                type: string

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        steps:
            - name: Download build
              uses: actions/download-artifact@v3
              with:
                  name: build-${{ inputs.region }}-${{ inputs.environment }}
                  path: dist

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-region: ${{ inputs.aws-region }}
              env:
                  aws-access-key-id: ${{ secrets.PACKAGES_TOKEN }}
                  aws-secret-access-key: ${{ secrets.PACKAGES_TOKEN }}

            - name: Upload to S3
              run: aws s3 sync dist s3://${{ inputs.aws-s3-bucket }}/

            - name: Cloudfront cache invalidation
              run: aws cloudfront create-invalidation --paths "/*" --distribution-id ${{ inputs.aws-cloudfront-distribution-id }}
              env:
                  AWS_PAGER: ""
