name: Pull requests

on:
    pull_request:
        types: [opened, reopened, synchronize, edited]

jobs:
    install:
        uses: ./.github/workflows/install.yml
        secrets:
            NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
    test-unit:
        needs: [install]
        uses: ./.github/workflows/test-unit.yml
    # lint:
    #     needs: [install]
    #     uses: ./.github/workflows/lint.yml
    build:
        needs: [install]
        uses: ./.github/workflows/build.yml
        with:
            environment: alpha
            region: internal
